spring:
  application:
    name: hexagonal-advanced-demo
  datasource:
    url: jdbc:h2:mem:hexagonal-demo;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    root: INFO
    com.example.hexagonal: DEBUG
